html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    height: 100%;
    color: #666666;
}


.background-img1{
    background-image: url(./assets/bg.jpg);
    min-height: 100%;
}


.background-img2{
    background-image: url(./assets/bg2.jpg);
    min-height: 80%;
}



.background-img3{
    background-image: url(./assets/bg3.jpg);
    min-height: 80%;
}



.background-img4{
    background-image: url(./assets/bg4.jpg);
    min-height: 80%;
}


.background-img1,
.background-img2,
.background-img3,
.background-img4 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    opacity: 0.7;
}


.heading-container{
    position: absolute;
    /* top: 0; */
    width: 100%;
    text-align: center;
    font-size: 3rem;
    top: 50%;
}

.section{
    text-align: center;
    padding: 3rem 5rem;
    line-height: 1.8rem;
}

.section-light{
    background-color: #f1f1f1;
    color: #666666;
}


.section-dark{
    background-color: #282e34;
    color: #ffff;
}


.heading-container-big{
    background-color: black;
    color: white;
    letter-spacing: 0.4rem;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    outline: 0.5rem inset purple;
    outline-offset: 1rem;
    line-height: 5rem;
}


.heading-container-text{
    background-color: black;
    padding: 0.7rem;
    border-top-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    color: white;
    outline: 0.4rem inset purple;
    outline-offset: 0.2rem;
    line-height: 5rem;
    letter-spacing: 0.3rem;
}